<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>
    <style>
        body {
            background: #ededed;
        }
    </style>
</head>

<body>
    <div class="darken-grey-text mb-4" style="text-align:center; margin-top: 2%; font-weight:bold; font-size: 2em; color:red;">
        SEREMPRE LOGIN
    </div>


    <main class="freeBird" style="margin-top:2%;">

        <div class="container">
            <div class="row">
                <div class="col-md-7 m-x-auto pull-xs-none">
                    <div class="jumbotron">
                        <h4 class="default-text" style="color: #2BBBAD; text-align:center; "> Error al intentar loguearse. Intenta de nuevo. </h4>

                        <!-- <hr class="m-y-2"> -->

                        <!--Naked Form-->
                        <div class="card-block">

                            <!--Body-->
                            <div class="text-xs-center">
                                <button class="btn btn-default waves-effect waves-light" onclick="window.location.href = '/index'">Ir a Login</button>
                            </div>


                        </div>
                        <!--Naked Form-->

                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</body>

</html>