<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>
    <link rel='stylesheet' href='css/task.css'>

</head>

<body>
    <div id="titleUser">
        <h4 class="default-text" style="color: #2BBBAD; text-align:center; font-weight:bold; margin-top:1%;"><i class="fa fa-user"></i> Bienvenido {{userName}} </h4>
        <h5 @click="closeSession" class="default-text" style="color: #2BBBAD; text-align:center;  margin-top:1%; cursor:pointer;"><i class="fa fa-sign-out"></i> Salir </h5>
    </div>

    <div id="app">
        <task-list :tasks="tasks"></task-list>
    </div>
    <script id="task-list" type="text/template">
        <section class="tasks">
            <h1>
                Tareas
                <transition name="fade">
                    <small v-if="incomplete">({{ incomplete }})</small>
                </transition>

            </h1>
            <div class="tasks__new input-group">
                <input type="text" class="input-group-field form-control" v-model="newTask" @keyup.enter="addTask" placeholder="New task">
                <span class="input-group-button">
                    <button @click="addTask" 
                            class="btn btn-primary pull-right"
                    >
                      <i class="fa fa-plus"></i> Agregar
                    </button>
                  </span>
            </div>

            <div class="tasks__clear button-group pull-right">
                <button class="btn btn-success" @click="clearCompleted">
                    <i class="fa fa-check"></i> Quitar terminadas
                  </button>
                <button class="btn btn-danger" @click="clearAll">
                    <i class="fa fa-trash"></i> Quitar todo
                  </button>
            </div>

            <transition-group name="fade" tag="ul" class="tasks__list no-bullet">
                <task-item v-for="(task, index) in tasks" @remove="removeTask(index)" @complete="completeTask(task)" :task="task" :key="task"></task-item>
            </transition-group>
        </section>
    </script>


    <script id="task-item" type="text/template">
        <li class="tasks__item">
            <button :class="className" @click.self="$emit('complete')">
                      {{ task.title }}
                    </button>
            <button class="tasks__item__remove button alert btn-danger pull-right" @click="$emit('remove')">
                      <i class="fa fa-times"></i>
                    </button>
        </li>
    </script>





    <!-- template for the modal component -->
    <script type="text/template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">

                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">

                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                                <button class="btn btn-default" @click="$emit('close')">
                                OK
                              </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>



    <div id="modal-component">

        <modal v-if="showModal" @close="showModal = false">

            <h3 slot="header">{{customHeader}}</h3>
            <h5 slot="body">{{contentModal}}</h5>
        </modal>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src='js/homeComponent.js'></script>
</body>

</html>