<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>
    <style>
        body {
            background: #ededed;
        }
    </style>
</head>

<body>
    <div class="darken-grey-text mb-4" style="text-align:center; margin-top: 2%; font-weight:bold; font-size: 2em;">
        SEREMPRE LOGIN
    </div>


    <main class="freeBird" style="margin-top:2%;">

        <div class="container">
            <div class="row">
                <div class="col-md-7 m-x-auto pull-xs-none">
                    <div class="jumbotron">
                        <h4 class="default-text" style="color: #2BBBAD; text-align:center; "><i class="fa fa-lock"></i> Ingreso de usuarios </h4>

                        <!-- <hr class="m-y-2"> -->

                        <!--Naked Form-->
                        <div class="card-block">

                            <!--Body-->
                            <form @submit="checkForm" id="loginForm" action="#">

                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="user" name="user" v-model="user" class="form-control">
                                    <label for="user">Usuario</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="pass" name="pass" v-model="pass" class="form-control validate">
                                    <label for="pass">Contraseña</label>
                                </div>



                                <div class="text-xs-center">
                                    <button class="btn btn-default waves-effect waves-light">Ingresar</button>
                                </div>

                                <p v-if="errors.length">
                                    <b>Please correct the following error(s):</b>
                                    <ul>
                                        <li v-for="error in errors">{{ error }}</li>
                                    </ul>
                                </p>
                            </form>


                        </div>
                        <!--Naked Form-->

                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>


</body>

</html>